body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #4b698a, #79bcd8, #002998);
    color: #333;
    text-align: center;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-attachment: fixed;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #ff6f61;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: bold;
}

#dynamicMessage {
    font-size: 2.5em;
    color: #ff6f61;
    animation: bounce 1.5s ease infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.celebration-image {
    max-width: 80%;
    border-radius: 15px;
    margin: 20px 0;
    transition: transform 0.5s;
}

.celebration-image:hover {
    transform: scale(1.05);
}

form {
    margin-top: 20px;
}

input {
    padding: 15px;
    width: calc(100% - 30px);
    border: 2px solid #ff6f61;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.9);
    transition: border-color 0.3s;
}

input:focus {
    border-color: #ff9a9e;
    outline: none;
}

button {
    padding: 12px 25px;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #45a049;
}

#linkContainer {
    margin-top: 20px;
    text-align: left;
}

.button {
    text-decoration: none;
    padding: 12px 20px;
    background-color: #25D366;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.button:hover {
    background-color: #128C7E;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

#countdownTimer {
    font-size: 1.5em;
    color: #ff6f61;
    margin-top: 20px;
    font-weight: bold;
}

.hidden {
    display: none;
}

/* Custom animations for the countdown */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#countdownTimer {
    animation: fadeIn 2s ease-in;
}
